@use "../../utils" as color;

.form__dropdown--wrapper-invalid,
.form__dropdown--wrapper-valid {
  min-height: 10rem;
  position: relative;
}

.form__dropdown--label-active,
.form__dropdown--label-default {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.form__dropdown--control {
  align-items: center;
  background-color: color.$main--light;
  border: 1px solid rgb(127 127 127 / 46.67%);
  border-radius: 0.7rem;
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
  padding: 1.6rem 1rem;
  position: relative;
}

.form__dropdown--input {
  background-color: color.$main--light;
  border: none;
  // color: color.$white;
  flex: 1 1 auto;
  font-size: 1.4rem;
  min-width: 0;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.form__dropdown--toggle {
  align-items: center;
  background-color: color.$main--light;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  padding: 0 0.5rem;

  & > * {
    // color: color.$white;
    cursor: pointer;
    font-size: 1.6rem;
  }
}

.form__dropdown--wrapper-invalid .form__dropdown--control {
  border: 1px solid rgb(255 0 0 / 69.9%);
}

.form__dropdown--error {
  color: rgb(255 0 0 / 69.9%);
  font-size: 1.2rem;
  height: 1.5em;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-top: 0.2rem;
}

.form__dropdown--menu {
  background-color: color.$main--light;
  border: 1px solid rgb(127 127 127 / 46.67%);
  border-radius: 0.6rem;
  left: 0;
  margin-top: 0.5rem;
  position: absolute;
  width: 100%;
  z-index: 10000;

  & > ul {
    list-style: none;
    padding: 1rem;
  }

  & > ul > li {
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 2.84rem;
    padding: 0.4rem 1rem;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: rgb(141 143 145 / 28.24%);
    }
  }

  & > center {
    margin: 5rem 0;
  }
}

.form__dropdown--empty {
  // color: color.$white--light;
  font-size: 1.4rem;
}
