:root {
  --main: #ffffff;
  --main-light: #ede8fa99;

  --primary: #6734d4;
  --primary-light: #6734d433;
  --primarybg-light: #6734d499;

  --secondry: #151b45;
  --secondry-light: #151b4533;




  // --yellow: #ffcb2b;
  // --yellow-light: #ffcb2b33;

  // --white: #f5f5f5;
  // --white-light: #97a5bb;
  // --black: #0a0e1a;
  // --blue-edit: #008cba;
  // --blue-edit-light: #008cba33;
  // --blue-light: #60a5fa;
  // --bluebg-light: #1f304b;
  // --purple-light: #9b8bfa;
  // --purplebg-light: #9b8bfa33;
  // --gray: #8d8f91;
  // --gray-light: #8d8f9133;
  // --red: #f00;
  // --red-light: #f003;
  // --amber: #f59e0b;
  // --amber-light: #f59e0b33;
  // --green: #0f0;
  // --green-light: #0f03;
  // --emerald-green: #22c55e;
  // --emerald-green-light: #22c55e33;
}
