@use "../../../utils" as color;

.dashboard-page-header {
  padding-bottom: 5.5rem;
  padding-top: 4rem;

  & > div {
    & > ol {
      align-items: center;
      display: flex;
      gap: 1.2rem;
      list-style: none;

      & > li {
        align-items: center;
        display: flex;
        gap: 1.2rem;
        margin-top: 0.4rem;

        & > * {
          font-size: 1.4rem;

          &:last-child {
            // color: color.$white;
          }

          &:not(:last-child) {
            // color: color.$white--light;
          }
        }
      }
    }
  }
}
